<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery-2.2.4.min.js"></script>
	<script src="/javascripts/d3.min.js"></script>
	<script src="/javascripts/array.visualize.js"></script>
	<script src="/javascripts/this-play.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<%- include nav.ejs %>

	<div id="body" class="container-fluid">
		<h1 class="page-header">Demo</h1>
		<div class="wrapper">
			<div class="row">
				<div class="col-md-3" id="code_area">
					<span>input</span>
					<textarea id="txtInput" style="width:100%;"></textarea>
					<span>code</span>
					<textarea id="txtCode" style="width:100%; height: 500px;"></textarea>
					<div>
						<input type="button" id="btnUpload" value="Upload"/>
						<input type="button" id="btnStep" value="Step"/>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-8" id="canvas">
				</div>
			</div>
		</div>
	</div>

	<script src="/javascripts/demo.js"></script>
</body>

</html>
