doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav(class='navbar navbar-default')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') 첨기고
				ul(class='nav navbar-nav')
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown') 
							| 정렬
							b.caret
							ul.dropdown-menu
								li
									a(href='/temp') 버블 정렬
								li
									a(href='#') 퀵 정렬
								li
									a(href='#') 병합 정렬
					li
						a(href='#') 그래프
					li
						a(href='#') 트리
		block content
