
<div>
	<div  id="body" class="container-fluid">
		<h1 class="page-header">Demo</h1>
		<div class="wrapper" ng-controller="DemoCtrl" ng-cloak>
			<div  ng-hide="visualize">
				<div class="row">
					<div class="col-md-12">
						<h3>{{selectAlgor}}</h3>
						<h4>Source Code</h4>
						<div>{{data}}</div>
						<div>111</div>
						<div class="btn-group">
							<label class="btn btn-primary" ng-model="cmInputOption.mode" uib-btn-radio="'text/x-csrc'">C</label>
							<label class="btn btn-primary" ng-model="cmInputOption.mode" uib-btn-radio="'text/x-c++src'">C++</label>
							<label class="btn btn-primary" ng-model="cmInputOption.mode" uib-btn-radio="'text/x-java'">Java</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<textarea ui-codemirror="cmInputOption" ng-model="cmModel"></textarea>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<h4>Input Data</h4>
						<input type="text" ng-model="input" class="form-control">
					</div>
				</div>
				<div class="row" style="margin-top:50px; text-align:center;">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary" ng-model="input" ng-click=btnRunClick()
							style="width:500px; height:50px;">Upload</button>
					</div>
				</div>
			</div>
			
			<div ng-show="visualize">
				<div class="row">
					<div class="col-md-3" id="code_area">
						<span>input</span>
						<input type="text" ng-model="input" class="form-control">
						<!--<textarea id="txtInput" style="width:100%;"></textarea>-->
						<span>code</span>
						<textarea style="width:200%; height: 500px;" ui-codemirror="cmOutputOption" ng-model="cmModel"></textarea>
						<!--<textarea id="txtCode" style="width:100%; height: 500px;" ng-model="cmModel"></textarea>-->
						<div>
							<button style="float: left;" type="button" id="btnStep" class="btn btn-primary">
								Step
							</button>
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8" id="canvas">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/javascripts/demo.js"></script>
	
</div>
