<div class="page-header">
	<label class="btn btn-primary">Menu</label>
</div>
<div class="row">
	<nav class="col-sm-3">
		<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
			<div class="panel panel-default">
				<div class="panel-heading">카테고리</div>
				<div class="panel-body">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="chk['array']"> Array
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="chk['sort']"> Sort
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="chk['search']"> Search
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="chk['list']"> Linked List
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="chk['tree']"> Tree
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="chk['graph']"> Graph
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="chk['dp']"> Dynamic Programming
						</label>
					</div>
				</div>
			</div>
		</ul>
	</nav>
	
	<div class="col-sm-9">
		<div>
			<table class="table">
				<thead>
					<tr>
						<th width="220px">이미지</th>
						<th>설명</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in response.data" ng-if="chk[x.category]">
						<td>
							<img src="/images/thumb/{{x.category}} - {{x.subject}}.jpg" class="img-rounded" alt="Cinque Terre" width="240" height="160" ng-click=algorClk(x.subject)>
						</td>
						<td>
							<h4>{{x.category}}</h4>
							<div>{{x.subject}}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>