extends layout

block content
	h1= title
	p Welcome to #{title}

	form(method='post', action='/temp/save')
		p
			textarea#input(name='input') #{codes.input}
		p
			textarea#code(name='code') #{codes.code}
		input(type='submit')