<div class="page-header">
	<label class="btn btn-primary" ng-click="btnHomeClk()">Home</label>
	<label class="btn btn-primary" ng-click="btnInputClk()">Input</label>
</div>
<div class="row">
	<div class="col-md-3">
		<span>input</span>
		<input type="text" ng-model="input" class="form-control">
		<span>code</span>
		<textarea id="txtCode"></textarea>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-8" id="canvas"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-primary" ng-click=btnStepClk()>Step</button>
	</div>
</div>

