<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>

var app = angular.module("myApp", []);

app.controller("myCtrl", function ($scope, $http) {
	$scope.code = `#include <stdio.h>
		
int a;

int main() {
	a = 1;
	a = 2;
	a = 3;

	return 0;
}`;

	$scope.upload = function () {
		//alert($scope.code);
		$http({
			method: 'POST',
			url: '/api/execute',
			data: { code: $scope.code, targets: ['a'], input: "" }
		}).then(
			function (res) {
				//alert(res);
				console.log(res.data);
				console.log(JSON.parse(res.data));
			}, 
			function (res) {
				//alert(res);
				console.log(res);
			}
		);
	}

});

</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
		<textarea name="code" id="code" ng-model="code"></textarea>
		<input type="button" value="upload!" ng-click="upload()" />
	</form>
</body>
</html>

<br>
#include \<stdio.h\><br>
<br>
int a;<br>
<br>
int main() {<br>
	a = 1;<br>
	a = 2;<br>
	a = 3;<br>
<br>
	return 0;<br>
}<br>
